__pycache__/
**/__pycache__
# terraform
terraform.tfvars
terraform.tfstate*
.terraform*
tests/fixtures/**/terraform.tfvars
tests/fixtures/**/.terraform
tests/fixtures/**/terraform.tfstate*
tests/fixtures/**/terraform.tfstate.d/*
tests/fixtures/**/temp_files/*
*.log
kubeconfig*
temp_files/*
./*.json
config.yaml
